#mariska-arisia[data-state="front"]
#mariska-arisia[data-state="back"]
  background-image url("../img/books/mariska-arisia/front-back.jpg")

  @media xlarge
    background-image url("../img/books/mariska-arisia/front.jpg")

@media xlarge
  #mariska-arisia[data-state="back"]
    background-image url("../img/books/mariska-arisia/back.jpg")
