.carousel
  position relative

.carousel__item[data-state="current"]
  z-index 100

.carousel__item[data-state="outgoing-to-left"]
  z-index 101

  animation carousel-slide-out-to-left 300ms ease-in 1

.carousel__item[data-state="outgoing-to-right"]
  z-index 101

  animation carousel-slide-out-to-right 300ms ease-in 1

@keyframes carousel-slide-out-to-left
  0%
    transform translateX(0)
  100%
    transform translateX(-100%)

@keyframes carousel-slide-out-to-right
  0%
    transform translateX(0%)
  100%
    transform translateX(100%)

.carousel__buttons
  height 100%
  left 0
  position absolute
  top 0
  width 100%
  z-index 102

.carousel__button
  left 0
  height 100%
  overflow hidden
  position absolute
  padding 0
  top 0
  bottom 0
  width 50px

  background transparent embedurl("../img/icons/arrow-left.svg") no-repeat center center
  border 0
  cursor pointer

  text-indent 100%
  white-space nowrap

.carousel__button:hover
  background-color rgba(0,0,0,0.2)

.carousel__button:focus
  outline 2px solid #000

.carousel__button:active
  outline 0

.carousel__button--next
  left auto
  right 0

  background-image embedurl("../img/icons/arrow-right.svg")
