.review
  position relative

  font-style italic

.review::before
  content "“"
  left -0.45em
  position absolute
  top -0.4em
  width 1em
  z-index 1

  color brand-medium-grey
  font-size 5rem

.review p
  position relative
  z-index 2

