<article class="grid push" itemscope itemtype="http://schema.org/Person">
  <div id="author">
    <meta itemprop="email" content="hey@thomasjbradley.ca">

    <div class="unit gutter unit-s-1">
      <h2 class="giga">About <span itemprop="name">Thomas J Bradley</span></h2>
    </div>
    <div class="unit gutter unit-s-1 unit-m-hidden">
      <img class="img-flex push" src="{{site.cdn}}/authors/thomasjbradley-small.jpg" alt="">
      <ul class="list-group btn-group milli">
        <li class="list-group__item list-group__item--inline"><a class="btn btn--subtle" href="mailto:hey@thomasjbradley.ca"><i class="icon i--16 i--gutter i--email"></i> <span class="icon__text">Email</span></a></li>
        <li class="list-group__item list-group__item--inline"><a class="btn btn--subtle" href="http://thomasjbradley.ca" itemprop="url" rel="external author"><i class="icon i--16 i--gutter i--thomasjbradley"></i> thomasjbradley.ca</a></li>
      </ul>
    </div>
    <div class="unit gutter unit-s-hidden unit-m-1-3 unit-l-1-5">
      <img class="img-flex push" src="{{site.cdn}}/authors/thomasjbradley.jpg" itemprop="image" alt="">
      <ul class="list-group btn-group milli">
        <li class="list-group__item"><a class="btn btn--subtle" href="mailto:hey@thomasjbradley.ca"><i class="icon i--16 i--gutter i--email"></i> <span class="icon__text">Email</span></a></li>
        <li class="list-group__item"><a class="btn btn--subtle" href="http://thomasjbradley.ca" rel="external"><i class="icon i--16 i--gutter i--thomasjbradley"></i> <span class="icon__text">thomasjbradley.ca</span></a></li>
      </ul>
    </div>
    <div class="unit gutter unit-s-1 unit-m-2-3 unit-l-2-5 milli">
      <p>Thomas loves the infinite possibilities and the endless wonder of space. He is especially fond of distant galaxies with unusual aliens piloting gigantic battling spaceships—with lasers. He distinctly remembers one childhood afternoon when his parents took him to the video store and his Dad pointed to an older movie sitting on a tucked away shelf: <em>Return of the Jedi</em>. Thomas’s life was transformed as his newly science-fiction–infused imagination blossomed. Thomas believes that the wonder of The Universe can bring excitement and hope to anybody. </p>
      <p>Thomas currently lives in Ottawa, Canada, where he spends his days teaching web design and development at Algonquin College and his nights with his wonderful wife, Liz, and their three excitable pups: Paddington, Corduroy, and Wellington.</p>
    </div>
    <div class="unit gutter unit-s-1 unit-m-1 unit-l-2-5">
      <h3 class="kilo">Why Thomas wrote this story</h3>
      <blockquote class="review">
        <p class="milli push-0">{{include.why}}</p>
      </blockquote>
    </div>
    <div class="unit gutter unit-s-1 unit-m-1 unit-l-4-5 unit-offset-l-1-5">
      <ul class="list-group btn-group milli">
        <li class="list-group__item list-group__item--inline"><a class="btn btn--subtle" href="https://www.goodreads.com/author/show/3917042.Thomas_J_Bradley" rel="external"><i class="icon i--16 i--gutter i--goodreads"></i> <span class="icon__text">Goodreads</span></a></li>
        <li class="list-group__item list-group__item--inline"><a class="btn btn--subtle" href="https://twitter.com/thomasjbradley" rel="external"><i class="icon i--16 i--gutter i--twitter"></i> <span class="icon__text">Twitter</span></a></li>
        <li class="list-group__item list-group__item--inline"><a class="btn btn--subtle" href="http://www.pinterest.com/thomasjbradley/" rel="external"><i class="icon i--16 i--gutter i--pinterest"></i> <span class="icon__text">Pinterest</span></a></li>
        <li class="list-group__item list-group__item--inline"><a class="btn btn--subtle" href="https://github.com/thomasjbradley" rel="external"><i class="icon i--16 i--gutter i--github"></i> <span class="icon__text">GitHub</span></a></li>
      </ul>
    </div>
  </div>
</article>
