<article class="grid push">
  <div class="unit gutter unit-s-1">
    <h2 class="giga">About Thomas J Bradley</h2>
  </div>
  <div class="unit gutter unit-s-1 unit-m-hidden">
    <img class="img-flex push" src="{{site.baseurl}}/img/authors/thomasjbradley-small.jpg" alt="">
  </div>
  <div class="unit gutter unit-s-hidden unit-m-1-3 unit-l-1-5">
    <img class="img-flex push" src="{{site.baseurl}}/img/authors/thomasjbradley.jpg" alt="">
  </div>
  <div class="unit gutter unit-s-1 unit-m-2-3 unit-l-2-5 milli">
    <p>Thomas loves the infinite possibilities and the endless wonder of space. He is especially fond of distant galaxies with unusual aliens piloting gigantic battling spaceships—with lasers. He distinctly remembers one childhood afternoon when his parents took him to the video store and his Dad pointed to an older movie sitting on a tucked away shelf: <em>Return of the Jedi</em>. Thomas’s life was transformed as his newly science-fiction–infused imagination blossomed. Thomas believes that the wonder of The Universe can bring excitement and hope to anybody. </p>
    <p>Thomas currently lives in Ottawa, Canada, where he spends his days teaching web design and development at Algonquin College and his nights with his wonderful wife, Liz, and their three excitable pups: Paddington, Corduroy, and Wellington.</p>
  </div>
  <div class="unit gutter unit-s-1 unit-m-1 unit-l-2-5">
    <h3 class="kilo">Why I wrote this story</h3>
    <blockquote class="review">
      <p class="milli push-0">{{include.why}}</p>
    </blockquote>
  </div>
</article>
