<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}17 Thousand Pages Publishing{{page.title_after}}</title>
  <meta name="description" content="{{page.meta}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic" rel="stylesheet">
  <link href="{{site.baseurl}}/css/17kp.min.css" rel="stylesheet">
  <link rel="source" href="https://github.com/17kp/17thousandpages.ca">
  {% if page.shortlink %}
  <link rel="shortlink" href="http://17kp.ca{{page.shortlink}}">
  {% endif %}
  {% for prefetch in page.prefetch %}
  <link rel="prefetch" href="{{site.baseurl}}/img/{{prefetch}}">
  {% endfor %}
</head>
<body>

<header class="masthead" role="banner">
  <div class="grid grid--middle">
    <div class="unit gutter unit-s-1 unit-m-1-2 unit-l-1-3">
      <a href="{{site.baseurl}}/" class="logo gutter pad-t-1-2 pad-b-1-2 logo__link">
        <img class="img-flex" src="{{site.baseurl}}/img/17-thousand-pages.svg" alt="17 Thousand Pages Publishing">
      </a>
    </div>
    <nav class="unit gutter unit-s-1 unit-m-1-2 unit-l-2-3" role="navigation">
      <ul class="nav list-group giga">
        <li class="list-group__item list-group__item--inline gutter-1-2"><h1 class="nav__heading"><a href="{{site.baseurl}}/"{% if page.url == '/' %} class="current"{% endif %}>Books</a></h1></li>
        <li class="list-group__item list-group__item--inline gutter-1-2"><a href="#about">About us</a></li>
      </ul>
    </nav>
  </div>
</header>

{% if page.show_blurb %}
  <div class="blurb band-light pad-t pad-b">
    <div class="grid brand-color">
      <div class="unit unit-s-1 unit-s-1 unit-m-1 unit-l-2-3 gutter unit-offset-l-1-3">
        <p class="push-0 giga blurb__text">Stories big on imagination and wonder—brimming with fantastical creatures and exciting adventures.</p>
      </div>
    </div>
  </div>
{% endif %}

<main role="main">
  {{content}}
</main>

<aside class="about band-light" role="complimentary">
  <div class="grid gutter pad-t">
    <div class="unit unit-s-1">
      <h2 class="brand-color mega" id="about">About 17 Thousand Pages</h2>
    </div>
  </div>
  <div class="grid pad-b">
    <div class="unit unit-s-1 unit-m-1-2 unit-l-1-2 gutter">
      <p class="push-0">We are a small independent publisher who believes in the power of imagination. We want to spark wonder and optimism in young readers through books of distant lands, fantastical creatures, and exciting stories.</p>
      <p class="align-right">— <cite>Jane <span title="and">&amp;</span> Thomas</cite></p>
    </div>
    <div class="unit unit-s-1 unit-m-1-2 unit-l-1-2 gutter">
      <p>We believe in openness and transparency. All our books are in open formats and permissively licensed.</p>
      <ul class="micro push-0">
        <li>DRM-Free eBooks for all devices</li>
        <li><a href="http://creativecommons.org/licenses/by-nc-nd/4.0/" rel="external license">Creative Commons BY-NC-ND 4.0 Licences</a></li>
      </ul>
    </div>
  </div>
</aside>

<footer class="footer band-dark" role="contentinfo" itemscope itemtype="http://schema.org/Organization">
  <div class="grid grid--middle gutter pad-t-1-2" id="publisher">
    <div class="unit unit-s-1 unit-m-1-2 unit-l-1-2 pad-b-1-2">
      <p class="copyright micro push-0">© 2014 <span itemprop="name">17 Thousand Pages Publishing</span> · <a href="mailto:feedback@17kp.ca" itemprop="email">feedback@17kp.ca</a> · <span itemprop="address" itemscope itemtype="http://schema.org/PotalAddress"><span itemprop="addressRegion">Ottawa</span>, <span itemprop="addressCountry">Canada</span></p>
    </div>
    <div class="unit unit-s-1 unit-m-1-2 unit-l-1-2 pad-b-1-2">
      <ul class="list-group social-icons push-0">
        <li class="list-group__item list-group__item--inline">
          <a class="icon-link icon i--24 i--goodreads ir" href="https://www.goodreads.com/list/show/72186.17_Thousand_Pages_Books" rel="external">Goodreads</a>
        </li>
        <li class="list-group__item list-group__item--inline">
          <a class="icon-link icon i--24 i--facebook ir" href="https://www.facebook.com/17thousandpages" rel="external">Facebook</a>
        </li>
        <li class="list-group__item list-group__item--inline">
          <a class="icon-link icon i--24 i--twitter ir" href="https://twitter.com/17thousandpages" rel="external">Twitter</a>
        </li>
        <li class="list-group__item list-group__item--inline">
          <a class="icon-link icon i--24 i--googleplus ir" href="https://plus.google.com/b/105409819467126225610/" rel="external publisher">Goodreads</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

{% if page.url contains 'books' %}
<script src="{{site.baseurl}}/js/17kp.min.js"></script>
<script src="https://gumroad.com/js/gumroad.js"></script>
{% endif %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49297705-1', '17thousandpages.ca');
  ga('send', 'pageview');

</script>

</body>
</html>
